/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$default: #333;
$gray: #666;
$light-gray: #8a8a8a;
$nav-gray: #7d7d7d;
$nav-active: #f4f4f4;

$black: #000;
$white: #fff;

$green: #3fa75c;
$darkgreen: #00695c;
$yellow: #faf076;
$orange: #f5a623;
$red: #f66;

$contrast: #233c4b;
$stroke: #e0e0e0;
$card-bg: #efeeee;
$cases: #3498db;
$polices: #e67e22;
$supervision: #c0392b;
$web-archiving: #9b59b6;
$discovery: #16a085;
$reports: #27ae60;
$help: #6f6f6f;
$settings: #2c3e50;


$placeholder: #9e9e9e;
$border-color: #e5e5e5;

$bg: #fff;
$secondary-bg: #f2f2f2;


$inactive: #a4b1b8;
$active: #3498db;

$main-color: #2c3e50;

$header-height: 56px;
$subheader-height: 72px;
$content-header: 36px;
$details-header: 150px;
$spinner-size: 100px;
$radius: 2px;
$circle: 50%;
$nav-width: 280px;
$small-avatar: 32px;
$big-avatar: 44px;
$tabs-height: 48px;
$tabs-small-height: 37px;
$drawer-header: 73px;
$drawer-footer: 68px;

/* calculated */

$main-content-height: calc(100vh - #{$header-height} - #{$subheader-height});
$drawer-height: calc(100vh - #{$header-height});
$drawer-body-height: calc(100vh - #{$drawer-footer} - #{$drawer-header} - #{$header-height});
$content-body: calc(100vh - #{$header-height} - #{$subheader-height} - #{$content-header});
$details-body: calc(100vh - #{$header-height} - #{$subheader-height} - #{$details-header});
$details-tabs-body: calc(100vh - #{$header-height} - #{$subheader-height} - #{$details-header} - #{$tabs-height});
$content-tabs-body: calc(100vh - #{$header-height} - #{$drawer-header} - #{$tabs-small-height} - #{$drawer-footer});
$design-system-height: calc(100vh - #{$header-height});
$design-system-content-body: calc(100vh - #{$header-height} - #{$content-header});
$spinner-center: calc(50% - (#{$spinner-size} / 2));
$border: 1px solid $border-color;

%font-family {
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
}

.full-width {
  width: 100%;
}

.error {
  color: $red;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;

  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

%icons {
  font-family: 'icon' !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  line-height: 1;
  text-decoration: none !important;
  text-transform: none !important;

  speak: none;
  -webkit-font-smoothing: antialiased;
}

.mat-dialog-actions {
  text-align: right;
}

mat-radio-button {
  display: block !important;
  padding-bottom: 10px;
}

.solution-container {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-header {
  button {
    float: right;
  }
}

.centered {
  text-align: center;
}

.grid-container {
  position: relative;
  height: calc(100vh - 67px - 115px);
}

.ngx-datatable {
  transition: none;
  border: 0;
  border-top: $border;
  background: $white !important;
  box-shadow: none !important;

  .datatable-header {
    overflow: visible !important;
    color: $default !important;
    border-bottom: $border;
    background: $white !important;

    .datatable-header-cell {
      font-weight: 400 !important;
      line-height: 24px;
      padding: 8px 16px !important;
      transition: none;
      color: rgba($default, .6);
    }
  }

  .datatable-body {
    color: $default !important;
    background: $white !important;

    .datatable-row-wrapper {
      &:first-child {
        .datatable-body-row {
          border-top: 0;
        }
      }

      .datatable-body-row.datatable-body-row {
        width: 100% !important;
        cursor: pointer;
        border-top: 0 !important;

        &:hover {
          color: $default;
          background: rgba($active, .08);
        }

        &.active {
          color: $default;
          background: rgba($active, .2);
        }

        &.selected {
          color: $default;
          background: rgba($active, .4);
        }

        .datatable-body-cell {
          line-height: 24px;
          padding: 8px 16px !important;
          transition: none;
        }

        .datatable-row-group {
          background: none !important;
        }
      }
    }

    .progress-linear {
      position: fixed !important;
    }
  }

  .datatable-footer {
    margin: 0;
    color: $default !important;
    border-top: $border;
    background: $white !important;

    .datatable-footer-inner {
      height: 40px;
    }

    .page-count {
      line-height: 40px;
      height: 40px;
    }
  }
}

.datatable-icon-up {
  font-size: 18px;
  margin: -2px 0 0 -4px;

  @extend .material-icons;


  &:after {
    content: 'arrow_drop_up';
  }
}

.datatable-icon-down {
  font-size: 18px;
  margin: -2px 0 0 -4px;

  @extend .material-icons;

  &:after {
    content: 'arrow_drop_down';
  }
}

ngx-datatable {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  > div.visible {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100%;

    > datatable-body {
      flex-basis: 100%;
    }
  }

  datatable-scroller {
    width: 100% !important;
  }
}

.pager {
  li {
    a {
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      display: inline-block;
      min-width: 20px;
      height: 24px !important;
      margin: 0 !important;
      padding: 0 !important;
      opacity: .7;
      background: none !important;

      @extend %font-family;

      i {
        &:before {
          display: none;
        }

        &:after {
          font-size: 20px;

          @extend .material-icons;
        }

        &.datatable-icon-prev {

          //display: none;
          &:after {
            content: 'skip_previous';
          }
        }

        &.datatable-icon-left {
          &:after {
            content: 'chevron_left';
          }
        }

        &.datatable-icon-skip {

          //display: none;
          &:after {
            content: 'skip_next';
          }
        }

        &.datatable-icon-right {
          &:after {
            content: 'chevron_right';
          }
        }
      }

      &:hover {
        opacity: .9;
      }
    }

    &.active {
      a {
        opacity: 1;
        color: $default;
      }
    }
  }
}
